<!DOCTYPE html>
<html>
<head>
    <title>首页·知识图谱检索</title>
</head>

<body style="margin: 0;padding: 0;">
<div class="header">
    <img src="static/img/top.jpg" style="margin-top: 0;width: 100%;"/>
</div>
<div id="search-bar" style="text-align: center; padding-top: 100px">
    <h1>知识图谱检索</h1>
    <form action="search" method="get">
        <input type="text" name="name" style="width:400px;height:30px;" placeholder="请输入关键词 查看图谱 如:矽卡岩型钼矿"/>
        <input type="submit" value="检索一下" style="width:100px;	height:36px;"/>
    </form>
</div>

<div class="footer">
    <img src="/static/img/footer.jpg" style="position:absolute;bottom: 0;width: 100%;"/>
</div>
</body>
</html>
